$main-top-margin: 1rem;
$sticky-sidebar-top-margin: 2rem;
$content-padding-top: 1rem;

body {
  display: flex;
  flex-direction: column;

  min-height: 100svh;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

main {
  background-color: lightcoral;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

.content-wrapper {
  flex-basis: 0;
  flex-grow: 999;

  display: flex;

  margin-block-start: $main-top-margin;
}

.sidebar-inner,
.content,
.content-toc__inner {
  padding-block-start: $content-padding-top;
}

.content {
  background-color: orange;

  flex-basis: 0;
  flex-grow: 999;

  padding-inline-start: 3rem;

  min-inline-size: 75ch;
}

.content-toc {
  flex-basis: 312px;
  flex-grow: 1;
}

.sidebar {
  flex-basis: 320px;
  flex-grow: 1;

  margin-block-start: $main-top-margin;
}

.sidebar-list,
.sidebar-section {
  list-style: none;
}

.content-toc__nav ul {
  list-style: none;
}

.content-toc a {
  display: block;
}
.content-toc a:hover {
  color: red;
}

.sidebar-inner,
.content-toc__inner {
  background-color: lightcyan;
}

@mixin sticky-nav {
  position: sticky;
  top: $sticky-sidebar-top-margin;
  overflow-y: auto;
  scrollbar-width: thin;
}

.sidebar-inner,
.content-toc__inner {
  @include sticky-nav;
}

.sidebar-section {
  display: none;
}

.sidebar-item a {
  // border: 1px solid blue;
  display: block;
}

.sidebar-item .sidebar-section {
  padding-inline-start: 1rem;
}

.sidebar-item a:hover {
  background-color: green;
  color: #fff;
}

.sidebar-item:has(.sidebar-section) {
  position: relative;
}

.sidebar-item:has(.sidebar-section)::before {
  content: "\25B8";
  display: block;
  position: absolute;
  left: 90%;
  top: -2px;
  font-weight: bold;
  color: inherit;
}

.sidebar-item.active::before,
.sidebar-item:has(.sidebar-section .active)::before {
  transform: rotate(90deg);
  top: 0;
}

.sidebar-item.active > .sidebar-section {
  display: block;
}

.sidebar-item:has(.sidebar-section .active) > .sidebar-section {
  display: block;
}

.sidebar-item.active {
  font-weight: bold;
}

.sidebar-item.active .sidebar-section {
  font-weight: normal;
}

div > pre {
  max-width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
}
