@import "variables";

$gap: 1.5rem;

header {
  background-color: lightskyblue;
  padding: 1rem $g-left-padding;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  gap: $gap;
  padding: 0;
  list-style-type: none;
}

.site-nav > li > a {
  display: block;
  padding: 0.5em 1em;
  // background-color: #fff;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.site-nav > li:first-child {
  // background-color: red;
  padding-inline-start: unset;
}

.site-nav > li > a:hover {
  background-color: lightgreen;
}
