.far-out {
  background: orange;
}

.outer {
  background: blueviolet;
}

.margin {
  height: 4rem;
}

.one {
  background: lightgreen;
  margin-block: 12rem;
}

.two {
  background: lightblue;
  margin-block: 2rem;
}
