// Spacing and padding
// https://utopia.fyi/space/calculator/
$space-025: 0.25rem;
$space-050: 0.5rem;
$space-075: 0.75rem;
$space-0: 1rem;
$space-1: 1.5rem;
$space-2: 2rem;
$space-3: 3rem;
$space-4: 4rem;
$space-6: 6rem;
$space-8: 8rem;
$space-12: 12rem;
$space-24: 24rem;
$space-32: 32rem;
$space-40: 40rem;
$space-48: 48rem;

// fluid typography
// https://www.fluid-type-scale.com/
// https://typescale.com/
// https://utopia.fyi/type/calculator/

/* @link https://utopia.fyi/type/calculator?c=360,16,1.333,1240,18,1.333,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

$fs--2: unquote("clamp(0.5628rem, 0.534rem + 0.1279vw, 0.6331rem)");
$fs--1: unquote("clamp(0.7502rem, 0.7118rem + 0.1705vw, 0.844rem)");
$fs-0: unquote("clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem)");
$fs-1: unquote("clamp(1.333rem, 1.2648rem + 0.303vw, 1.4996rem)");
$fs-2: unquote("clamp(1.7769rem, 1.686rem + 0.4038vw, 1.999rem)");
$fs-3: unquote("clamp(2.3686rem, 2.2475rem + 0.5383vw, 2.6647rem)");
$fs-4: unquote("clamp(3.1573rem, 2.9959rem + 0.7176vw, 3.552rem)");
$fs-5: unquote("clamp(4.2087rem, 3.9935rem + 0.9565vw, 4.7348rem)");
$fs-6: unquote("clamp(5.6102rem, 5.3233rem + 1.2751vw, 6.3115rem)");
$fs-7: unquote("clamp(7.4784rem, 7.096rem + 1.6996vw, 8.4132rem)");

// font weight
$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

$heading-letter-spacing: -0.0125em;

// $font-sizes: (
//   -2: clamp(0.5628rem, 0.5196rem + 0.1919vw, 0.6683rem),
//   -1: clamp(0.7502rem, 0.6926rem + 0.2557vw, 0.8908rem),
//   0: clamp(1rem, 0.9233rem + 0.3409vw, 1.1875rem),
//   1: clamp(1.333rem, 1.2308rem + 0.4544vw, 1.5829rem),
//   2: clamp(1.7769rem, 1.6406rem + 0.6058vw, 2.1101rem),
//   3: clamp(2.3686rem, 2.1869rem + 0.8075vw, 2.8127rem),
//   4: clamp(3.1573rem, 2.9152rem + 1.0764vw, 3.7493rem),
//   5: clamp(4.2087rem, 3.8859rem + 1.4348vw, 4.9979rem),
//   6: clamp(5.6102rem, 5.1799rem + 1.9126vw, 6.6622rem),
//   7: clamp(7.4784rem, 6.9048rem + 2.5495vw, 8.8806rem)
// );

///////////////////////////////////////////
/// colors
///

$primary-950: hsl(250, 88%, 23%);
$primary-900: hsl(253, 80%, 35%);
$primary-800: hsl(253, 83%, 42%);
$primary-700: hsl(253, 84%, 50%);
$primary-base: hsl(252, 100%, 50%);
$primary-500: hsl(249, 100%, 65%);
$primary-400: hsl(246, 100%, 75%);
$primary-300: hsl(243, 100%, 84%);
$primary-200: hsl(240, 100%, 91%);
$primary-100: hsl(243, 100%, 95%);
$primary-50: hsl(240, 100%, 97%);

$grey-950: hsl(254, 11%, 23%);
$grey-900: hsl(253, 10%, 35%);
$grey-800: hsl(251, 10%, 42%);
$grey-700: hsl(251, 12%, 55%);
$grey-base: hsl(251, 12%, 55%);
$grey-500: hsl(248, 13%, 66%);
$grey-400: hsl(244, 14%, 76%);
$grey-300: hsl(240, 13%, 85%);
$grey-200: hsl(240, 14%, 92%);
$grey-100: hsl(240, 13%, 95%);
$grey-50: hsl(240, 17%, 98%);

// $min-height: calc(100vh- $navigation-header-height)

$main-top-margin: 1rem;
$sticky-sidebar-top-margin: 2rem;
$content-padding-top: 1rem;
$g-left-padding: 2.5rem;
$content-border-radius: 5px;

// fonts
$fw-bold: 700;

// header
$bg-header: $primary-base;
$clr-header-font: $primary-900;
$clr-header-bg: $grey-100;
$clr-menu-active: $primary-900;
$clr-menu-inactive: $primary-400;

// content
$clr-content-bg: $grey-100;
$clr-sidebar-bg: $grey-100;
$clr-content-font: $grey-950;
$clr-inline-mono-bg: $grey-300;

$sp-inline-mono: $space-025;

// content-toc
$clr-content-toc-font: $primary-500;
$clr-content-toc-hover: $primary-base;
$sp-content-toc-items-top: $space-025;
$sp-content-toc-items-padding: $space-025;
$sp-content-toc-nested-padding: $space-1;

// sidebar
$sp-sidebar-items-top: $space-025;
$sp-sidebar-items-padding: $space-025;

$clr-sidebar-bg-hover: $primary-100;
