@import "variables";

@import "reset";
@import "layout";
@import "menu";
@import "header";
@import "footer";
@import "sidebar";

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #00e;
  text-decoration: none;
}
