{{- $page := .Page -}}
{{- $depth := .Depth | default 0 -}}
{{- $current := .Current -}}

{{- $sections := $page.Sections }}
{{- $pages := $page.RegularPages }}
{{- $combined := slice }}
{{- with $sections }}{{ $combined = append $combined . }}{{ end }}
{{- with $pages }}{{ $combined = append $combined . }}{{ end }}
{{- $sorted := sort $combined "Weight" "Title" }}


<ul {{ if gt $depth 0 }}
        class="sidebar-nav__subdir"
    {{ else }}
        class="sidebar-nav__root"
    {{ end }}>
  {{- range $item := $sorted }}
    <li class="sidebar-nav__item {{ if $item.IsSection }}is-section{{ end }}">
      <a href="{{ $item.RelPermalink }}" class="toc-link">
        {{ $item.Title }}
      </a>
      {{- if $item.IsSection }}
        {{- partial "toc-recursive.html" (dict 
            "Page" $item
            "Current" $current
            "Depth" (add $depth 1)) }}
      {{- end }}
    </li>
  {{- end }}
</ul>




{{/*


{{- $current := .Page }}
{{- $top := $current }}
{{- with $current }}
    {{- if .Parent }}
        {{- $top = .Parent }}
    {{- end }}
{{- end }}

{{- $page := .CurrentPage }}
{{- $sorted := sort $combined "Weight" "Title" }}
{{- $top := .TopSection }}
{{- $depth := .Depth | default 0 -}}

<h1>Top section: {{ $top.Pages }}</h1>
<p>Current page: {{ .Page }}</p>

*/}}