{{ define "main" }}
    <aside class="sidebar">
      {{- partial "sidebar-nav" . -}}
    </aside>
    <div class="content-wrapper index">
      <article class="content">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ range .Pages }}
          <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
          <!-- {{ .Summary }} -->
        {{ end }}
      </article>
      <aside class="content-toc">
        <!-- {{- partial "content-toc" . -}} -->
      </aside>
    </div>

{{ end }}


